@charset "UTF-8";
* {
	padding: 0;
	margin: 0;
}
a {
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
}

a:link {
	text-decoration: none;
	color: black;
}

#logoImg {
	margin-top: 5%;
	text-align: center;
}

#userMenu {
	text-align: right;
	margin-right: 20px;
}

#userMenu ul {

}

#userMenu ul li {
	display: inline-block;
	margin-right: 3px;
}

#loginForm {
	text-align: center;
}

#loginForm table {
	text-align: left;
	width: 25%;
	margin: auto;
	border: 1px solid pink;
	height: 5em;
}

#loginForm tr {
	height: 2em;
}

#loginForm td {
	border-bottom: 1px solid pink;
	padding-left: 7px;
}

#loginForm .textInput {
	border: none;
	outline: none;
}

#signupForm {
	text-align: center;
	margin-bottom: 40px;
}

#signupForm table {
	text-align: left;
	width: 70%;
	margin: auto;
	border: 1px solid pink;
}

#signupForm tr {
	height: 4em;
}

#vrTr {
	height: 40px;
}

#signupForm td {
	border-bottom: 1px solid pink;
	padding-left: 7px;
}

#signupForm .textInput {
	border: none;
	outline: none;
}

#submitBox {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 15%;
}

#submitBox Button {
	float: left;
	float: left;
	width: 50%;
	height: 100%;
	font-size: 20px;
	font-weight: 1000;
	text-align: center;
	color: black;
	cursor: pointer;
	border-style: none;
	text-align: center;
}

#cancleBtn {
	background-color: rgb(240, 30, 140);
}

#submitBtn {
	background-color: rgb(135, 206, 250);
}

#signUpBtn {
	border-style: none;
	height: 30px;
	width: 10%;
	min-width: 120px;
	background-color: #ffB4DD;
}

.necesseryPoint {
	color: red;
}

#mainMenu {
	background-color: #FF9999;
}

ul#mainMenuList {
	position: absolute;
	bottom: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
}

#mainMenuList > li {
	display: inline-block;
	margin-right: 18px;
	font-size: 1.5em;
	font-weight: 1000;
}

#mainMenuList > li > a{
	text-decoration: none;
}

#mainMenuList > li > a:hover{
	color: #f52390;
}

.selectedMainMenu{
	color: #f52390;
}

#mainLogoWrap {
	vertical-align: top;
	display: inline-block;
	position: relative;
	min-width:120px;
	width:120px;
	height:80px;
	background-color: #99FFAA;
	margin-right: -4px;
	border-bottom: 2px #f52390 solid;
}

#mainLogo{
	position:absolute;
	bottom:0;
	margin:auto;
	max-width: 100%;
}

.gnbMenuWrap {
	padding-left:10px;
	vertical-align: top;
	display: inline-block;
	position:relative;
	width: calc(100% - 120px);
	min-width:1036px;
	height: 80px;
	border-bottom: 2px #f52390 solid;
}

#gnb{
	width:100%;
	min-width:1000px;
	margin-top: 10px;
	height: 80px;
}

#contents{

}

.container-fluid{
	width:100%;
	min-width: 1280px;
	padding: 0;
}

.subMenu {
	display : none;
	padding:10px 0px 5px 0px;
	position: absolute;
	top:30px;
	left:0;
	min-width: 1000px;
	background-color: #CC66FF;
	border: 2px #f52390 solid;
	border-top: 1px white solid;
	border-radius: 0 0 10px 10px;
}

.subMenuListWrap{
	display: inline-block;
	vertical-align:top;
	width: 30%;
}

.subMenuList {
	list-style-type: none;
	margin-left: 15px;
}

.subMenu div ul li{
	margin-bottom: 3px;
}

.subMenuList > li > a{
	text-decoration: none;
	color: black;
}

.subMenuList > li > a:hover{
	color: red;
}

.subMenuSelected{
	color: red;
}
.subMenuContents{
	display: inline-block;
	vertical-align:top;
	width: calc(70% - 50px);
	height:300px;
	background-color: blue;
}