<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vrforum.web.mapper.GameBoardMapper">

<!-- 
	public int insertBoard(GameBoardVO gameBoardVO)throws Exception;
	public List<GameBoardVO> selectGameBoardVOs()throws Exception;
	public GameBoardVO selectGameBoardVO(@Param("idx")int idx)throws Exception;
	public int deleteGameBoard(@Param("idx")int idx)throws Exception;
	public int updateGameBoard(GameBoardVO gameBoardVO)throws Exception;
	public int countBoardNum()throws Exception;
 -->
 	<select id="countBoardNum">
 		SELECT count(`c_sno`)
 		FROM `game_board`
 		WHERE 
 			`board_category` = #{gameVO.boardCategory} AND
 			`game_category`
 	</select>
 	<insert id="insertBoard">
 		INSERT INTO `
 	</insert>
	<select id="insertBoard" resultType="GameVO">
		SELECT * 
		FROM `game_list`
		WHERE idx = #{idx};
	</select>
	
	<select id="selectVOs" resultType="GameVO">
		SELECT * FROM `game_list`;
	</select>
	
	<select id="selectSearchVOs" resultType="GameVO">
		SELECT * 
		FROM `game_list`
		WHERE `name` LIKE "%${keyword}%" OR tags LIKE "%${keyword}%";
	</select>
</mapper>