<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vrforum.web.mapper.GameBoardMapper">

<!-- 
		public int insertBoard(GameBoardVO gameBoardVO) throws Exception;

	public List<GameBoardVO> selectGameBoardVOs(@Param("gameCategoy") int gameCategory,
			@Param("boardCategory") String boardCategory) throws Exception;

	public GameBoardVO selectGameBoardVO(@Param("gameCategoy") int gameCategory,
			@Param("boardCategory") String boardCategory,
			@Param("sno") int sno) throws Exception;

	public int deleteGameBoard(@Param("gameCategoy") int gameCategory,
			@Param("boardCategory") String boardCategory,
			@Param("sno") int sno) throws Exception;

	public int updateGameBoard(@Param("gameCategoy") int gameCategory,
			@Param("boardCategory") String boardCategory,
			GameBoardVO gameBoardVO) throws Exception;

	public int countBoardNum(
			@Param("gameCategoy") int gameCategory,
			@Param("boardCategory") String boardCategory) throws Exception;
 -->
 	<select id="countBoardNum" resultType="int">
 		SELECT count(`c_sno`)
 		FROM `game_board`
 		WHERE 
 			`board_category` = #{boardCategory} AND
 			`game_category`= #{gameCategory}
 	</select>
 	
 	<select id="selectGameBoardVOs" resultType="GameBoardVo">
 		SELECT `c_sno` as sno, title, writer, hit, recommend, writeTime
 		FROM `game_board`
 		WHERE
 			`board_category` = #{boardCategory} AND
 			`game_category`= #{gameCategory};
 	</select>

</mapper>