<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vrforum.web.mapper.UserMapper">
	<select id="selectUser" resultType="UserVO">
		SELECT
			*
		FROM
			`user`

	</select>
	
	<select id="selectUserinfo" resultType="UserVO">
		SELECT
			user_id, nickname, user_has_vr
		FROM
			`user`
		WHERE
			user_id = #{userId} AND password = #{password}
	</select>
	
	<insert id="insertUser">
		INSERT INTO
				`user` (user_id, password, nickname, email, user_has_vr)
		VALUES
			(#{userId}, #{password}, #{nickname}, #{email}, #{userHasVr});
	</insert>
	<insert id="insertUserVr">
			INSERT INTO
				`user_vr`
			VALUES
				(#{userId}, #{vive}, #{vivePro}, #{oculus}, #{psVr}, #{mr}, #{etc}, #{etcName});
	</insert>
</mapper>